/*
!Form1.cs
!Form1.Designer.cs
!*Command.cs
!Translator.cs
!mph_ua.db
!Assistant.cs
!.gitignore
!bin
!Commands

/bin/*
!bin/Debug
/bin/Debug/*
!bin/Debug/net6.0-windows
/bin/Debug/net6.0-windows/*
!bin/Debug/net6.0-windows/AssistantSettings.xml
!bin/Debug/net6.0-windows/*.dll